<div class="contact_bg">
  <section id="contact" class="container contact">
    <div class="columns">
      <div class="offset-6 col-6">
        <header class="contact__menu__container">
          <nav class="menu">
            <ul>
              {{
                range.menus
              }}
              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{
                end
              }}
            </ul>
          </nav>
        </header>
      </div>
    </div>

    <div class="columns">
      <div class="col-6">
        <div class="contact__title">
          <h1>Contact</h1>
        </div>
      </div>

      <div class="offset-1 col-5">
        <div class="contact__info">
          <ul class="contact__links">
            <li class="social__links">
              <a class="link" href="{{ .params.linkedinUrl }}" target="_blank">
                <div class="social__links__icon">in</div>
                {{ .params.linkedin }}
              </a>
            </li>
            <li class="social__links">
              <a href="{{ .params.githubUrl }}" target="_blank">
                <div class="social__links__icon">
                  <img src="/social/github.svg" alt="github" />
                </div>
                {{ .params.github }}
              </a>
            </li>
            <li class="social__links">
              <a href="mailto:{{ .params.email }}">
                <div class="social__links__icon">@</div>
                {{ .params.email }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
