<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    {{ $sass := resources.Get "style.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    <title>{{ .Site.Title }}</title>
    {{- if not .Site.IsServer -}}
    {{ partial "gtag" (dict "params" .Site.Params )}}
    {{- end -}}
  </head>
  <body>
    {{ partial "home/home" (dict "menus" .Site.Menus.main) }}
    {{ partial "home/about" (dict "menus" .Site.Menus.main) }}
    {{ partial "home/contact" (dict "menus" .Site.Menus.main "params" .Site.Params) }}
  </body>
</html>
