.about__bg {
  background-image: linear-gradient(90deg, $white 50%, $grey 50%);

  @include d(s) {
    background-image: linear-gradient(160deg, $white 50%, $grey 50%);
  }
}

.about {
  min-height: 100vh;

  .columns:nth-child(2) {
    padding-top: em(40);
  }
}

.about__menu__container {
  display: flex;
  justify-content: flex-end;
  padding-top: em(40);

  a {
    color: $blue;
  }

  @include d(s) {
    justify-content: center;
  }
}

.about__title {
  h1 {
    text-align: center;
    font-family: $font-title;
    font-size: em(72);
    color: $blue;
    margin-top: em(10);
    margin-bottom: em(10);

    &:after {
      content: "";
      display: block;
      width: em(10);
      height: em(2);
      margin: em(1) auto;
      background: $blue;
    }
  }

  img {
    margin: 0 auto;
    padding: 4px;
    box-shadow: 0px 3px 10px 0px $black;
    border-radius: 50%;
    width: 100px;
  }

  @include d(s) {
    height: initial;
    transform: unset;

    h1 {
      font-size: em(60);
      margin-top: em(10);
    }
  }
}

.about__info {
  h2 {
    text-align: center;
    font-family: $font-title;
    color: $blue;
    margin-top: em(40);
    margin-bottom: em(30);
  }

  p {
    margin-bottom: em(10);
    font-family: $font-default;
    color: $black;
    line-height: 1.5;
  }

  @include d(m) {
    p {
      font-size: em(15);
    }
  }

  @include d(s) {
    height: unset;
    transform: unset;
    padding-bottom: rem(20);

    p {
      font-size: em(15);
    }
  }
}
