.about__bg {
  background-image: linear-gradient(90deg, $white 50%, $grey 50%);
}

.about {
  min-height: 100vh;
}

.about__menu__container {
  display: flex;
  justify-content: flex-end;
  padding-top: em(40);

  a {
    color: $blue;
  }
}

.about__title {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-family: $font-title;
    font-size: em(72);
    color: $blue;
    margin-top: em(-15);
    margin-bottom: em(10);

    &:after {
      content: "";
      display: block;
      width: em(10);
      height: em(2);
      margin: em(1) auto;
      background: $blue;
    }
  }

  img {
    margin: 0 auto;
    padding: 4px;
    box-shadow: 0px 3px 10px 0px $black;
    border-radius: 50%;
    width: 100px;
  }
}

.about__info {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    font-family: $font-title;
    color: $blue;
    margin-bottom: em(30);
  }

  p {
    margin-bottom: em(10);
    font-family: $font-default;
    color: $black;
    line-height: 1.5;
  }
}
