.contact_bg {
  background-image: linear-gradient(90deg, $blue 50%, $blue-light 50%);
}

.contact {
  min-height: 100vh;
}

.contact__menu__container {
  display: flex;
  justify-content: flex-end;
  padding-top: em(40);

  a {
    color: $white;
  }
}

.contact__title {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-family: $font-title;
    font-size: em(72);
    color: $white;
    margin-top: em(-50);

    &:after {
      content: "";
      display: block;
      width: em(10);
      height: em(2);
      margin: em(1) auto;
      background: $white;
    }
  }
}

.contact__info {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
}

.contact__links {
  li {
    margin-bottom: em(60);
  }
}

.social__links {
  padding: em(10);

  font-family: $font-default;
  font-size: em(18);
  font-weight: bold;
  color: $white;

  .social__links__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: rem(50);
    height: rem(50);
    padding: 4px;
    margin-right: rem(20);
    border: 3px solid $white;
    font-size: em(22);
  }

  a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $white;
  }
}
