.contact_bg {
  background-image: linear-gradient(90deg, $blue 50%, $blue-light 50%);

  @include d(s) {
    background-image: linear-gradient(160deg, $blue 50%, $blue-light 50%);
  }
}

.contact {
  min-height: 100vh;

  .columns:nth-child(2) {
    padding-top: em(80);
  }
}

.contact__menu__container {
  display: flex;
  justify-content: flex-end;
  padding-top: em(40);

  a {
    color: $white;
  }

  @include d(s) {
    justify-content: center;
  }
}

.contact__title {
  h1 {
    text-align: center;
    font-family: $font-title;
    font-size: em(72);
    color: $white;

    &:after {
      content: "";
      display: block;
      width: em(10);
      height: em(2);
      margin: em(1) auto;
      background: $white;
    }
  }

  @include d(s) {
    height: initial;

    h1 {
      font-size: em(60);
      margin-top: em(10);
    }
  }
}

.contact__info {
  @include d(s) {
    margin-top: em(40);
    display: flex;
    justify-content: center;
  }
}

.contact__links {
  li {
    margin-bottom: em(60);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include d(m) {
    li {
      margin-bottom: em(30);
    }
  }

  @include d(s) {
    li {
      margin-bottom: em(10);
    }
  }
}

.social__links {
  padding: em(10);

  font-family: $font-default;
  font-size: em(18);
  font-weight: bold;
  color: $white;

  .social__links__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: rem(50);
    height: rem(50);
    padding: 4px;
    margin-right: rem(20);
    border: 3px solid $white;
    font-size: em(22);
  }

  a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $white;
  }

  @include d(m) {
    font-size: em(16);

    .social__links__icon {
      margin-bottom: rem(10);
    }

    a {
      display: block;
    }
  }

  @include d(s) {
    font-size: em(16);

    .social__links__icon {
      margin-bottom: rem(10);
    }
  }
}
