.contact_bg {
  background-image: linear-gradient(90deg, $blue 50%, $blue-light 50%);
}

.contact {
  max-width: $l-device;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right";
  gap: 30px;
}

.contact__left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  h1 {
    font-family: $font-title;
    font-size: em(72);
    color: $white;
    margin-top: em(-20);
    margin-bottom: em(20);

    &:after {
      content: "";
      display: block;
      width: em(10);
      height: em(2);
      margin: em(1) auto;
      background: $white;
    }
  }
}

.contact__right {
  grid-area: right;
  display: grid;
  grid-template-rows: 50px auto;
}

.contact__links {
  margin-left: rem(96);
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: $font-default;
  font-size: em(18);
  font-weight: bold;
  color: $white;

  li {
    margin-bottom: em(80);
  }

  a {
    margin-left: rem(20);
    color: $white;
  }

  span,
  img {
    width: rem(50);
    height: rem(50);
    padding: 4px;
    border: 3px solid $white;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(30);
  }

  .email,
  .github,
  .linkedin {
    display: flex;
    align-items: center;
  }

  .email span {
    padding-bottom: 10px;
  }
}

.contact__menu {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  padding-top: em(40);

  a {
    color: $white;
  }
}
