@mixin d($size) {
  @if $size == xl {
    @media screen and (min-width: #{$xl-device}) {
      @content;
    }
  } @else if $size == l {
    @media screen and (min-width: #{$l-device}) and (max-width: #{$xl-device - 1}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: #{$m-device - 1}) {
      @content;
    }
  }
}

$columns: 12;
$gutter: 20px;

[class*="col-"],
[class*="column"] {
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
}

.container {
  max-width: $xl-device;
  margin: 0 auto;
  position: relative;

  @include d(s) {
    max-width: $s-device;
    padding-left: em(10);
    padding-right: em(10);
  }
}

.columns {
  display: flex;

  @include d(s) {
    display: block;
  }
}

.column {
  flex: 1;
}

@function col($col, $offset: false) {
  $width: $col / $columns * 100 + "%";

  @if ($offset) {
    @return calc(#{$width} + #{$gutter / 2});
  } @else {
    @return calc(#{$width} - #{$gutter});
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: col($i, false);
  }

  .offset-#{$i} {
    margin-left: col($i, offset);
  }
}

@include d(s) {
  @for $i from 1 through $columns {
    .col-#{$i} {
      width: 100%;
    }

    .offset-#{$i} {
      margin-left: 0;
    }
  }
}
