.home--bg {
  background-color: $blue;
}

.home {
  min-height: 100vh;
  max-width: $xl-device;
  margin: 0 auto;
}

.home__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.home__title {
  font-family: $font-title;
  color: $white;
  font-size: 4.5em;
  text-transform: uppercase;
}

.home__menu {
  display: flex;
  justify-content: flex-end;
  padding-top: em(40);
}
