.menu-container {
  padding-top: 2.5em;
  display: flex;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
}

.menu a {
  font-family: $font-2;
  color: #f8f8f8;
  text-transform: uppercase;
  padding: 0.625em;
}
