$xl-device: 1440px;
$l-device: 1200px;
$m-device: 768px;
$s-device: 484px;

$white: #fcfcfc;
$black: #202224;
$grey: #f8f8f8;
$blue: #253d55;
$blue-dark: #101f2e;
$blue-light: #577999;

$font-default: "Roboto", monospace;
$font-title: "Bungee", Arial, sans-serif;
